/* 
    Created on : Dec 1, 2016, 12:58:17 PM
    Author     : n5rate00
*/

body {
    margin: 5px 50px;

}

form {
    margin: 10px;    
}

table {
    margin-top: 10px;
    font-family: verdana,arial,sans-serif;
    font-size:11px;
    color:#333333;
    border-width: 1px;
    border-color: #3A3A3A;
    border-collapse: collapse;
}
th {
    border-width: 1px;
    padding: 4px 10px;
    border-style: solid;
}
td {
    border-width: 1px;
    padding: 4px 10px;
    border-style: solid;
}

a {
    color: red;
    font-weight: bold;
    cursor: pointer;
}
